body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 24px; /* タイトルのフォントサイズを調整 */
    font-weight: bold; /* タイトルを太字に */
    margin: 40px 0;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
    gap: 100px;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    padding-left: 40px
}

.tab {
    padding: 0;
    margin: 0 ;
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}

.tab.active {
    color: black;
}

.requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.requests-table th,
.requests-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.requests-table th {
    background-color: #f2f2f2;
}

.requests-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.requests-table tr:hover {
    background-color: #f1f1f1;
}